<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Dummy Project</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-user">Add User</a>
      </li>
      
    </ul>
  </nav>
<router-outlet></router-outlet>