<div class = "col-sm-12 col-md-12">
  <div class = "col-sm-4 col-md-4" style= "margin:auto; margin-top:5%;">
    <h2>User Details Form</h2>
<form [formGroup]="userform" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" placeholder="Enter First Name" id="email" formControlName="first_name">
    </div>


    <div class="form-group">
        <label for="first_name">Last Name:</label>
        <input type="text" class="form-control" placeholder="Enter Last Name" id="email" formControlName="last_name">
      </div>


      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName="email">
      </div>  

    <div class="form-group">
      <label for="avatar">Avatar:</label>
      <input type="text" class="form-control" placeholder="Enter Avatar link" id="pwd" formControlName="avatar">
    </div>
    
    <button type = "submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>