<div class="container">
    <h2>Data Calling from api</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Avatar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lists; index as i;" >
          <td>{{item.id}}</td>
          <td>{{item.email}}</td>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td><img src = {{item.avatar}}/></td>
        </tr>
      
      </tbody>
    </table>
  </div>